
.marker {
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.foodMarker {
  /* background-size: cover; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.food {
  background-image: url('./assets/foodPin.png');
}
.marker1 {
  background-image: url('./assets/chick.png');
}
.marker2 {
  background-image: url('./assets/crab.png');
}
.marker3 {
  background-image: url('./assets/fox.png');
}
.marker4 {
  background-image: url('./assets/hedgehog.png');
}
.marker5 {
  background-image: url('./assets/hippopotamus.png');
}
.marker6 {
  background-image: url('./assets/koala.png');
}
.marker7 {
  background-image: url('./assets/tiger.png');
}
.marker8 {
  background-image: url('./assets/whale.png');
}
.marker9 {
  background-image: url('./assets/zebra.png');
}



